{% extends "base.html" %}
{% block content %}
        

        
        <hr>
        {% for sub in submits %}
            <div class="submit">
                <a href="blog/{{sub.key().id()}}"><div class="post-title">{{sub.title}}</div></a>
                <pre class="post-body">{{sub.body}}</pre>
            </div>
        {% endfor %}
        
        <h3>Page number is {{page}}
        {% for pg in range(1,totalPages+1) %}
            <br>
            <a href="/blog?page={{pg}}">page {{pg}}</a>
        {% endfor %}
        </h3>
        
{% endblock %}

